<?xml version="1.0"?>

<model>
  <name>auv_max</name>
  <version>4.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Iesus Davila</name>
    <email>iesusdavila@gmail.com</email>
  </author>

  <maintainer email="iesusdavila@gmail.com">Iesus Davila</maintainer>

  <description>
    AUV Max model
  </description>
</model>
